{% extends "AppBundle::layout.html.twig" %}
{% block title %}{{ 'challenge.add.header'|trans }}{% endblock %}
{% block content %}

    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">{{ 'challenge.add.header'|trans }}</h3>
                </div>
                <div class="panel-body">
                    {% form_theme form 'bootstrap_3_layout.html.twig' %}
                    {{ form(form) }}
                </div>
            </div>
        </div>
    </div>
    <!-- /.row -->

{% endblock %}
