version: "2"
services:
    php-fpm:
        build: docker/php-fpm
        container_name: ocr-php
        volumes:
            - .:/ocr
            - ./docker/php-fpm/php-ini-overrides.ini:/usr/local/etc/php/conf.d/php-ini-overrides.ini
            - ./docker/php-fpm/agent.ini:/etc/blackfire/agent
            - ./docker/php-fpm/blackfire.ini:/root/.blackfire.ini

    webserver:
        image: nginx
        working_dir: /ocr
        volumes:
            - .:/ocr
            - ./docker/nginx:/etc/nginx/conf.d
        ports:
            - "8090:80"

    db:
        image: mysql:5.7
        volumes:
            - ./docker/data/db:/var/lib/mysql
        restart: always
        ports:
            - "23306:3306"
        environment:
            MYSQL_ROOT_PASSWORD: ocr
            MYSQL_DATABASE: ocr
            MYSQL_USER: ocr
            MYSQL_PASSWORD: ocr

    redis:
        image: redis
        ports:
            - "6379:6379"