imports:
    - { resource: parameters.yml }
    - { resource: security.yml }
    - { resource: services.yml }
    - { resource: "@AppBundle/Resources/config/services.yml" }

framework:
    #esi:             ~
    translator:      { fallbacks: ["%locale%"] }
    secret:          "%secret%"
    router:
        resource: "%kernel.root_dir%/config/routing.yml"
        strict_requirements: ~
    form:            ~
    csrf_protection: false
    validation:      { enable_annotations: true }
    #serializer:      { enable_annotations: true }
    templating:
        engines: ['twig']
    default_locale:  "%locale%"
    trusted_hosts:   ~
    trusted_proxies: ~
    session:
        handler_id:  ~
    fragments:       ~
    http_method_override: true
    assets: ~

twig:
    debug:            "%kernel.debug%"
    strict_variables: "%kernel.debug%"

doctrine:
    dbal:
        driver:   pdo_mysql
        host:     "%database_host%"
        port:     "%database_port%"
        dbname:   "%database_name%"
        user:     "%database_user%"
        password: "%database_password%"
        charset:  UTF8

    orm:
        auto_generate_proxy_classes: "%kernel.debug%"
        naming_strategy: doctrine.orm.naming_strategy.underscore
        auto_mapping: true

swiftmailer:
    transport: "%mailer_transport%"
    host:      "%mailer_host%"
    username:  "%mailer_user%"
    password:  "%mailer_password%"
    spool:     { type: memory }

doctrine_migrations:
    dir_name: "%kernel.root_dir%/DoctrineMigrations"
    namespace: Application\Migrations
    table_name: migration_versions
    name: Application Migrations

nelmio_api_doc:
    name: Quiz documentation.
    sandbox:
        authentication:
            delivery: http
            type:     bearer

jms_serializer:
    property_naming:
        separator:  ~
        lower_case: true
    metadata:
        auto_detection: true
        directories:
            FOSUserBundle:
                namespace_prefix: "FOS\\UserBundle"
                path: "%kernel.root_dir%/Resources/serializer/fos"

fos_user:
    db_driver: orm
    firewall_name: admin
    user_class: AppBundle\Entity\User
    service:
        mailer: fos_user.mailer.twig_swift
    from_email:
        address:     "%mailer_from%"
        sender_name: "%mailer_name%"

fos_rest:
    body_listener: true
    body_converter:
            enabled: false
    allowed_methods_listener: true
    format_listener:
        enabled: true
        rules:
            - { path: ^/api, priorities: [ 'json' ], fallback_format: json, prefer_extension: false }
            - { path: ^/, priorities: [ 'html', 'css', 'js', '*/*' ], fallback_format: html, prefer_extension: true }
    view:
        view_response_listener: true
        formats:
            json: true
            xml: true
        templating_formats:
            html: true
        force_redirects:
            html: true
        failed_validation: HTTP_BAD_REQUEST
        default_engine: twig
    routing_loader:
        default_format: json
    exception:
        enabled: true
        messages:
             'Symfony\Component\HttpKernel\Exception\HttpException': true
             'Symfony\Component\HttpKernel\Exception\NotFoundHttpException': true

nelmio_cors:
    defaults:
        allow_credentials: false
        allow_origin: []
        allow_headers: []
        allow_methods: []
        expose_headers: []
        max_age: 0
        hosts: []
        origin_regex: false
    paths:
        '^/api':
            allow_credentials: true
            allow_origin: ['*']
            allow_headers: ['*']
            allow_methods: ['POST', 'PUT', 'GET', 'DELETE', 'OPTIONS', 'PATCH']
            max_age: 0

lexik_jwt_authentication:
    private_key_path: "%jwt_private_key_path%"
    public_key_path:  "%jwt_public_key_path%"
    pass_phrase:      "%jwt_key_pass_phrase%"
    token_ttl:        "%jwt_token_ttl%"

gesdinet_jwt_refresh_token:
    ttl: 2592000
    ttl_update: false
    firewall: refresh
    user_provider: fos_user.user_provider.username_email

liip_imagine:
    resolvers:
        default:
            web_path: ~
    filter_sets:
        cache: ~
        thumbnail:
            quality: 75
            filters:
                thumbnail: { size: [226, 135], mode: outbound }
        list:
            quality: 75
            filters:
                thumbnail: { size: [30, 30], mode: outbound }
    loaders:
        drive0:
            flysystem:
                filesystem_service: oneup_flysystem.fs0_filesystem
    data_loader: drive0

oneup_flysystem:
    adapters:
        drive0:
            local:
                directory: "%kernel.root_dir%/../web/uploads/drive0"
    filesystems:
        fs0:
            adapter: drive0
            mount: drive0
