AppBundle\Entity\Challenge:
    type: entity
    table: challenges
    repositoryClass: AppBundle\Repository\ChallengeRepository

    id:
        id:
            type: integer
            generator: { strategy: auto }
    fields:
        createdAt:
            type: datetime
            gedmo:
                timestampable:
                    on: create
        updatedAt:
            type: datetime
            gedmo:
                timestampable:
                    on: update
        name:
            type: string
            nullable: false
        correctAnswer:
            type: string
            nullable: false
        description:
            type: string
            nullable: true
    oneToOne:
        image:
            targetEntity: AppBundle\Entity\Image
            mappedBy: challenge
            cascade: ["persist", "remove"]
    oneToMany:
        answers:
            targetEntity: AppBundle\Entity\Answer
            mappedBy: challenge
            cascade: ["persist", "remove"]
