AppBundle\Entity\Challenge:
    type: entity
    table: challenges
    repositoryClass: AppBundle\Repository\ChallengeRepository

    id:
        id:
            type: uuid
            generator:
                strategy: CUSTOM
            customIdGenerator:
                class: Ramsey\Uuid\Doctrine\UuidGenerator

    fields:
        createdAt:
            type: datetime
            gedmo:
                timestampable:
                    on: create
        updatedAt:
            type: datetime
            gedmo:
                timestampable:
                    on: update
        name:
            type: string
            nullable: false
        correctAnswer:
            type: text
            nullable: false
        description:
            type: text
            nullable: true
    oneToOne:
        image:
            targetEntity: AppBundle\Entity\Image
            cascade: ["persist", "remove"]
            inversedBy: challenge
            joinColumn:
                name: image_id
                referencedColumnName: id

    oneToMany:
        answers:
            targetEntity: AppBundle\Entity\Answer
            mappedBy: challenge
            cascade: ["persist", "remove"]
