AppBundle\Entity\Image:
    type: entity
    table: images
    repositoryClass: AppBundle\Repository\ImageRepository

    id:
        id:
            type: uuid
            generator:
                strategy: CUSTOM
            customIdGenerator:
                class: Ramsey\Uuid\Doctrine\UuidGenerator

    fields:
        filesystem:
            type: string
            length: 255
            nullable: false
        originalName:
            type: string
            length: 255
            nullable: false
        imageName:
            type: string
            length: 255
            nullable: false
        mimeType:
            type: string
            length: 64
            nullable: false
        size:
            type: integer
            nullable: false
        createdAt:
            type: datetime
            gedmo:
                timestampable:
                    on: create
        updatedAt:
            type: datetime
            gedmo:
                timestampable:
                    on: update
    oneToOne:
        challenge:
            targetEntity: AppBundle\Entity\Challenge
            mappedBy: image
